@media (max-width: 575px) {
  .navbar ul {
    background-color: #b862f2;
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .navbar i {
    display: block;
  }

  #toggle-menu:checked ~ .nav_links {
    display: flex;
  }
  #hero {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    border: 6px double orange;
  }
  .hero-card {
    display: none;
  }
  .hero-btn a {
    font-size: 14px;
  }
  .herotext {
    align-items: center;
    width: 190px;
    text-align: justify;
  }

  .herotext h1 {
    color: #141414;
  }
  .iconos-hero2 img {
    margin-left: 20px;
  }
  .iconos-hero1,
  .iconos-hero2 {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  .herotext h1 {
    text-align: center;
  }
  .btnhero-1,
  .btnhero-2 {
    width: 140px;
  }

  .card-title {
    text-align: center;
  }
  .card-1,
  .card-3 {
    flex-direction: column;
    align-items: center;
  }
  .card-2 {
    flex-direction: column;
    align-items: center;
  }
  .card-text,
  .card-text2,
  .card-text3 {
    text-align: justify;
    padding: 15px;
  }
  .contenedor-tarjetas {
    flex-direction: column;
  }

  #contacto {
    width: 300px;
  }
  .principal-img {
    display: none;
  }
  .datos-contacto {
    gap: 5px;
  }
  .datos-contacto p {
    font-size: 8px;
  }
  .contact-text,
  .contact-text2 {
    width: 130px;
  }
}

@media (max-width: 900px) {
  .card-text,
  .card-text2,
  .card-text3 {
    text-align: justify;
    padding: 15px;
  }
  #contacto {
    width: 360px;
  }
  .principal-img {
    display: none;
  }
  .datos-contacto {
    gap: 22px;
  }
  .datos-contacto p {
    font-size: 6px;
  }
  .contact-text,
  .contact-text2 {
    width: 140px;
  }
  .footer-img {
    width: 200px;
  }
}
